*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/matrix.jpg);
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color:#00000090;
}

.title {
    font-size: 3vw;
    border-bottom: solid;
}

.timer {
    display: flex;
    width: 50vw;
    justify-content: space-between;
    font-size: 8vw;
    text-shadow: 0 0 10px whitesmoke;
}

.description {
    display: flex;
    width: 50vw;
    justify-content: space-between;
    font-size: 1.5vw;
}


.buttons {
    padding: 6vh;
    display: flex;
    justify-content: space-around;
}

.playPause {
    color: white;
    text-shadow: 0 0 10px black;
    background: chartreuse;
    border-radius: 80%;
    width: 9vw;
    height: 15vh;
    font-size: 2vw;
    margin-right: 3vw ;
    opacity: .8;
}

.stop {
    color: white;
    text-shadow: 0 0 10px black;
    background: red;
    border-radius: 80%;
    width: 9vw;
    height: 15vh;
    font-size: 2vw;
    margin-right: 3vw ;
    opacity: .6;
}

.set {
    color: white;
    text-shadow: 0 0 10px black;
    background: rgb(0, 183, 255);
    border-radius: 80%;
    width: 9vw;
    height: 15vh;
    font-size: 2vw;
    margin-left: 5vw;
    opacity: .8;
}

footer {
    font-style: italic;
}